
.kpis{
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 60%;
}
.kpis .fav-genero{
  
  background-color: rgb(71, 71, 71);
  color: rgb(255, 255, 255);
  justify-self: start;
  height: 120px;
  border-radius: 5px;
  flex-direction: column;
  font-size: 30px;
  font-weight: 700;
  margin-left: 10px;
  margin-right: 10px;
  width: 50%;
}
.kpis .fav-genero h1{
  font-size: 24px;
}
.fav-genero{
  text-align: center;
}

.sugestao{
  background-color: rgb(71, 71, 71);
  margin-top: 20px;
  width: 80%;
  justify-self: center;
  border-radius: 10px;
  height: 500px;
  color: white;
}

.sugestao h1{
text-align: center;
margin: 0px;
padding-top: 20px;
}