html{
    font-family: sans-serif;
    background-color: #001d7a;
}
body{
    padding: 0px;
    margin: 0px;

}
.header{
    min-height: 60px;
    background-color: #5c67fc; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    padding: 5px 0px 0px 0px;
}
.header a {
    outline: none;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.logo{
    cursor: pointer;
    justify-content: start;
    display: flex;
}
.logo img{
    height: 70px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.login_cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    gap: 20px;
}

.login_cadastro a:first-child{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: blue;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
}

.login_cadastro a:last-child{
    border-radius: 10px;
    background-color: blue;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
}

.home {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/backgroundhomeimg.png");
    background-size: cover;
    filter: brightness(60%); 
    content: ""; 
    z-index: 1; 
}

.home p {
    position: relative;
    font-weight: bolder; 
    z-index: 2; 
    color: white;
    font-size: 70px;
    margin: 0px;
    padding: 10px;
}
.home span{
    color: #0000ff;
}

.home .container{
    height: 50px;
    width: 200px;
    background-color: #ffff00;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.home .container button{
    background-color: #ffff00;
    border-radius: 10px;
    height: 45px;
    width: 190px;
    cursor: pointer;
    border: none;
}
.carrocel{
    flex-direction: row;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-bottom: 50px;
}
.carrocel button{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    background-color: #ffff00;
    border: none;
    justify-content: center;
    align-items: center;
}
.imagem_meio{
    width: 900px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    background-size: cover;
}

.section_duvida {
    display: flex;
    padding: 60px 0px 0px 0px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.section_duvida .div_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
}

.div_container h1 {
    color: #001d7a;
    padding: 0px;
    margin: 0px 0px 70px 0px;
    font-size: 50px;
    font-weight: 500;
    text-align: center;

}

.div_container p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    border-radius: 15px;
    padding: 7px 10px 7px 20px;
    width: 100%;
    max-width: 600px;
    background-color: #001d7a;
    color: #ffffff;
    line-height: 28px;
    margin: 0px 0px 18px 0px;
    text-align: start;
}

.div_container p span {
    padding: 0px 10px 0px 0px;
    flex-direction: row;
}

.div_container p span span {
    color: #ffffffdf;
    display: none;
    padding: 0px 0px 0px 15px;
    font-size: 16px;
}

.div_container p button {
    background-color: transparent;
    font-weight: bolder;
    font-size: 18px;
    border: 0px;
    height: fit-content;
    cursor: pointer;
    color: white;
}