html{
    font-family: sans-serif;
    background-color: #001d7a;
}
body{
    padding: 0px;
    margin: 0px;

}
.header{
    min-height: 60px;
    background-color: #000000; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 25%;
    padding: 5px 0px 0px 0px;
    margin-bottom: 10px;
}
.header a {
    outline: none;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.logo{
    cursor: pointer;
    justify-content: start;
    display: flex;
}
.logo img{
    height: 70px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.login_cadastro{
    display: flex;
    flex-wrap: wrap;
    justify-self: flex-end;
    gap: 20px;
}

.login_cadastro a:first-child{
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: blue;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
}

.login_cadastro a:last-child{
    border-radius: 10px;
    background-color: blue;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 35px;
}

.home {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home::before {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../assets/backgroundhomeimg.png");
    background-size: cover;
    filter: brightness(60%); 
    content: ""; 
    z-index: 1; 
}

.home p {
    position: relative;
    font-weight: bolder; 
    z-index: 2; 
    color: white;
    font-size: 70px;
    margin: 0px;
    padding: 10px;
}
.home span{
    color: #0000ff;
}

.home .container{
    height: 50px;
    width: 200px;
    background-color: #ffff00;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.home .container button{
    background-color: #ffff00;
    border-radius: 10px;
    height: 45px;
    width: 190px;
    cursor: pointer;
    border: none;
}
.carrocel{
    flex-direction: row;
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items:center ;
    margin-bottom: 50px;
}
.carrocel button{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
    background-color: #ffff00;
    border: none;
    justify-content: center;
    align-items: center;
}


.carrocel img{
    width: 900px;
    height: 500px;
    border-radius: 10px;
    justify-content: center;
    background-size: cover;
}
.video{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    width: 100%;
}
.video video{
    width: 97.5%;
    justify-self: center;
    border-radius: 20px;
}
.instrucoes{
    flex-direction: row;
    justify-self: center;
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: 90px 0px 90px;
}
.instrucoes .container{
    width: 15%;
    flex-direction: column;
    align-self: center;
    text-align: center;
    height: 20%;
}
.instrucoes .container p{
    color: #ffffff;
    font-size: 18px;
}
.instrucoes .container img{
    width: 100px;
    height: 100px;
}
.contato{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
.contato h1{
    justify-self: center;
    color: #001d7a;
    font-size: 56px;
}
.aba_contato{
    flex-direction: row;
    display: flex;
    width: 60%;
    justify-self: center;
    background-color:rgb(255, 255, 255);
    border-radius: 10px;
    height: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.aba_contato h2{
    font-size: 30px;
    align-self: center;
    color: #010181; 
}

.suporte{
    flex-direction: column;
    display: flex;
    justify-self: end;
    align-items: end;
    width: 50%;
    font-size: 25px;
    border-left: 2px rgb(165, 165, 165) solid ;

}
.suporte .container{
    background-color: #f5f3f3de;
    border-radius: 5px;
    align-self: flex-start;
    margin-left: 45px;
    width: 75%;
    height: 45px;
    margin-top: 15px;
    align-content: center;
    font-size: 15px;
    padding-left: 20px;
}

.suporte .container img{
    width: 20px;
    height: 20px;
    padding-right: 10px;
}
.suporte .container a{
    color: rgb(0, 110, 255);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}
.contate_nos{
    justify-self: start;
    display: flex;
    width: 50%;
    flex-direction: column;
}
.contate_nos input{
    width: 60%;
    height: 25px;
    margin-left: 20%;
    border-radius: 4px;
    background-color: #ffffff;
    border: rgb(0, 225, 255) solid 2px;

}
.contate_nos h3{
    font-size: 15px;
    font-weight: 100;
    margin: 0px;
    margin-left: 20%;
}
.contate_nos button{
    align-self: center;
    width: 60%;
    margin-left: 5px;
    margin-top: 10px;
    height: 20%;
    background-color:#00c400;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.perguntas{
  flex-direction: column;
  width: 60%;
  justify-self: center;
  margin: 0px;
}
.perguntas h3{
    font-size: 30px;
    color: #010181;
    justify-self: center;
    margin-top: 60px;
    margin-bottom: 0px;
}
.perguntas h6{
    font-size: 20px;
    font-weight: 100;
    text-align: center;
}

.biblioteca .container{
    display: flex;
    margin: 0px;
    justify-content: start;

}
.jogo_cadastrado{
    flex-direction: row;
    display: flex;
}
.biblioteca .container img{
    width: 100px;
    height: 100px;
    margin: 15px;
    cursor: pointer;
}

.biblioteca {
  color: white;
  text-align: center;
  flex-direction: column;
}

.biblioteca .container a{
    text-decoration: none;
    align-self: flex-start;
}

.class_jogos{
display: flex;
align-self: flex-start;
flex-direction: column;
}

.class_jogos h2{
  margin: 15px 0px 0px 10px;
}

.class_jogos .estatistica{
    flex-direction: row;
    text-align: start;
    align-items: flex-start;
}

.class_jogos img{
    width: 100px;
    height: 100px;
    margin: 15px;
    border-radius: 10px;
    border: 2px solid white;
}
.class_jogos .estatistica p{
    margin: 10px 0px 0px 10px;
    font-size: 18px;
    font-weight: 700;
}